<div [@place]="isDivVisible">
    <div>
        <img src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/coffee-bar%2Fcoffee-bar.jpg?alt=media&token=a834d684-4507-4c4b-9dac-a26a7d41a85c"
            width="280" height="180" alt="武陵農場旅服照片" />
    </div>
    <div>
        <strong>{{'coffee_bar.name'|translate}}</strong>
        <p>{{'coffee_bar.content'|translate}}
            <br />{{'coffee_bar.product'|translate}}
        </p>
        <br />{{'coffee_bar.tel'|translate}}
        <br />
        <br />
        <br />
    </div>
</div>