<div class="content" [@place]="isDivVisible">
    <div class="title">{{'campsite.title'|translate}}</div>
    <div class="introduction">
     
      <br>
      <div>
        {{'campsite.about'|translate}}
      </div>
      <br>
      <div class="notice">
        {{'campsite.order_notice'|translate}}
      </div>
      <div class="notice">
        {{'campsite.order_example'|translate}}
      </div>
      <br>
      <div class="telephone">
        {{'campsite.telephone'|translate}}
      </div>
      <br>
      <div class="coffee">
        {{'campsite.coffee_bar'|translate}}
      </div>
      <br>
      <div class="alert">
        {{'campsite.alert'|translate}}
      </div>
      <br>
      <hr>
      <div class="rule">
        {{'campsite.rule'|translate}}
      </div>
      <div>
        <ul>
          <li>
            {{'campsite.rule_01'|translate}}
          </li>
          <li>
            {{'campsite.rule_02'|translate}}
          </li>
          <li>
            {{'campsite.rule_03'|translate}}
          </li>
          <li>
            {{'campsite.rule_04'|translate}}
          </li>
          <li>
            {{'campsite.rule_05'|translate}}
          </li>
          <li>
            {{'campsite.rule_06'|translate}}
          </li>
          <li>
            {{'campsite.rule_07'|translate}}
          </li>
          <li>
            {{'campsite.rule_08'|translate}}
          </li>
          <li>
            {{'campsite.rule_09'|translate}}
          </li>
          <li>
            {{'campsite.rule_10'|translate}}
          </li>
          <li>
            {{'campsite.rule_11'|translate}}
          </li>
          <li>
            {{'campsite.rule_12'|translate}}
          </li>
          <li>
            {{'campsite.rule_13'|translate}}
          </li>
          <li>
            {{'campsite.rule_15'|translate}}
          </li>
          <li>
            {{'campsite.rule_16'|translate}}
          </li>
          <li>
            {{'campsite.rule_17'|translate}}
          </li>
          <li>
            {{'campsite.rule_18'|translate}}
          </li>         
        </ul>
      </div>
    </div> 
  </div>