<div [@place]="isDivVisible">
  <mat-card>
    <mat-card-content>
      <gallery id="camping"></gallery>
      <article>
        {{'campsite.about'|translate}}
      </article>
      <a mat-raised-button color="primary" href="https://camping.wuling-farm.com.tw/camp/" target="_blank"> {{'campsite.order'|translate}}</a>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>hotel</mat-icon>
            </mat-panel-title>
            <mat-panel-description>
              {{'campsite.camp_pallet'|translate}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <h4>
            <button mat-raised-button (click)="openMap(24.381817, 121.303908)">
              {{'campsite.a1_car_pallet'|translate}}
              <mat-icon>location_on</mat-icon>
            </button>
          </h4>
          <img src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/camping%2Fzone-a%2FA%E5%8D%80-2.jpg?alt=media&token=8d8b6601-ca87-4f71-9af0-eb052e025dc2"
            alt="">
          <article>
            <h4> {{'campsite.price'|translate}}</h4>
            <p>NT$ 1000</p>
            <h4> {{'campsite.remark'|translate}}</h4>
            <p>{{'campsite.a1_car_pallet_type'|translate}}
              <br />{{'campsite.a1_car_pallet_remark'|translate}}
            </p>
          </article>
          <mat-divider [inset]="true"></mat-divider>
          <h4>
            <button mat-raised-button (click)="openMap(24.381229, 121.304813)">
              {{'campsite.b_tent'|translate}}
              <mat-icon>location_on</mat-icon>
            </button>
          </h4>
          <img src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/camping%2Fzone-b%2FB%E5%8D%80%E9%9C%B2%E7%87%9F%E5%B1%8B-3.jpg?alt=media&token=c06a2b06-8a22-4e1f-b3d9-bf6efb9be8cf"
            alt="">
          <article>
            <h4>{{'campsite.price'|translate}}</h4>
            <p>NT$ 1300</p>
            <h4>{{'campsite.remark'|translate}}</h4>
            <p> {{'campsite.b_tent_type'|translate}}
              <br />{{'campsite.b_tent_remark'|translate}}
            </p>
          </article>
          <mat-divider [inset]="true"></mat-divider>
          <h4>
            <button mat-raised-button (click)="openMap(24.381501, 121.305144)">
              {{'campsite.c_tent'|translate}}
              <mat-icon>location_on</mat-icon>
            </button>
          </h4>
          <img src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/camping%2Fzone-c%2FC%E5%8D%80%E9%9B%A2%E5%9C%B0%E7%A9%BA%E5%B8%B3.jpg?alt=media&token=988546d1-3847-4e66-ac45-038e3f739a55"
            alt="">
          <article>
            <h4> {{'campsite.price'|translate}}</h4>
            <p>NT$ 1800</p>
            <h4>{{'campsite.remark'|translate}}</h4>
            <p> {{'campsite.c_tent_type'|translate}}
              <br />{{'campsite.c_tent_remark'|translate}}
            </p>
          </article>
          <mat-divider [inset]="true"></mat-divider>
          <h4>
            <button mat-raised-button (click)="openMap(24.381501, 121.305144)">
              {{'campsite.c_car_pallet'|translate}}
              <mat-icon>location_on</mat-icon>
            </button>
          </h4>
          <img src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/camping%2Fzone-c%2FC%E5%8D%80.jpg?alt=media&token=f16f2d80-d4ac-4e4a-bc1d-54b471f5996e"
            alt="">
          <article>
            <h4> {{'campsite.price'|translate}}</h4>
            <p>NT$ 1500</p>
            <h4>{{'campsite.remark'|translate}}</h4>
            <p> {{'campsite.c_car_pallet_type'|translate}}
              <br /> {{'campsite.c-car_pallet_remark'|translate}}
            </p>
          </article>
          <mat-divider [inset]="true"></mat-divider>
          <h4>
            <button mat-raised-button (click)="openMap(24.380047, 121.305344)">
              {{'campsite.d_car_pallet'|translate}}
              <mat-icon>location_on</mat-icon>
            </button>
          </h4>
          <img src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/camping%2Fzone-d%2FD%E5%8D%80-3.jpg?alt=media&token=40daa816-f33d-4b35-a0cb-79be9ce34014"
            alt="">
          <article>
            <h4> {{'campsite.price'|translate}}</h4>
            <p>NT$ 1000</p>
            <h4>{{'campsite.remark'|translate}}</h4>
            <p>{{'campsite.d_car_pallet_type'|translate}}
              <br />{{'campsite.d-car_pallet_remark'|translate}}
            </p>
          </article>
          <mat-divider [inset]="true"></mat-divider>
          <h4>
            <button mat-raised-button (click)="openMap(24.380047, 121.305344)">
              {{'campsite.e_car_pallet'|translate}}
              <mat-icon>location_on</mat-icon>
            </button>
          </h4>
          <img src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/camping%2Fzone-e%2FE%E5%8D%80-1.jpg?alt=media&token=aed435a7-c4ea-4efd-8919-acb63b279009"
            alt="">
          <article>
            <h4> {{'campsite.price'|translate}}</h4>
            <p>NT$ 1000</p>
            <h4>{{'campsite.remark'|translate}}</h4>
            <p> {{'campsite.e_car_pallet_type'|translate}}
              <br />{{'campsite.e-car_pallet_remark'|translate}}
            </p>
          </article>
          <mat-divider [inset]="true"></mat-divider>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>hotel</mat-icon>
            </mat-panel-title>
            <mat-panel-description>
              {{'campsite.camp_cottage'|translate}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <h4>
            <button mat-raised-button (click)="openMap(24.381817, 121.303908)">
              {{'campsite.a1_cottage'|translate}}
              <mat-icon>location_on</mat-icon>
            </button>
          </h4>
          <img src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/camping%2Fhouse-view%2F%E6%99%AF%E8%A7%80%E5%B1%8B-01.jpg?alt=media&token=196f535c-9720-4e5e-afff-0881c11ddf98"
            alt="">
          <article>
            <h4> {{'campsite.price'|translate}}</h4>
            <p>{{'campsite.weekdays'|translate}}:NT$ 1800 {{'campsite.holiday'|translate}}:NT$ 2200</p>
            <h4>{{'campsite.remark'|translate}}</h4>
            <p> {{'campsite.a1_cottage_type'|translate}}
              <br />{{'campsite.al_cottage_remark'|translate}}
            </p>
          </article>
          <mat-divider [inset]="true"></mat-divider>
          <h4>
            <button mat-raised-button (click)="openMap(24.381817, 121.303908)">
              {{'campsite.a_cottage'|translate}}
              <mat-icon>location_on</mat-icon>
            </button>
          </h4>
          <img src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/camping%2Fhouse-cute%2F%E5%8F%AF%E6%84%9B%E9%9C%B2%E7%87%9F%E5%B1%8B-1.jpg?alt=media&token=57557465-5299-41e2-8aa3-ff2a3884dd38"
            alt="">
          <article>
            <h4> {{'campsite.price'|translate}}</h4>
            <p>{{'campsite.weekdays'|translate}}:NT$ 1600 {{'campsite.holiday'|translate}}:NT$1800</p>
            <h4>{{'campsite.remark'|translate}}</h4>
            <p> {{'campsite.a_cottage_type'|translate}}
              <br />{{'campsite.a_cottage_remark'|translate}}
            </p>
          </article>
          <mat-divider [inset]="true"></mat-divider>
          <h4>
            <button mat-raised-button (click)="openMap(24.381229, 121.304813)">
              {{'campsite.b_cottage'|translate}}
              <mat-icon>location_on</mat-icon>
            </button>
          </h4>
          <img src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/camping%2Fhouse-paint%2F%E5%BD%A9%E7%B9%AA%E5%B1%8B-2.jpg?alt=media&token=60f5bea3-95da-4061-9f25-a55afa80ea43"
            alt="">
          <article>
            <h4> {{'campsite.price'|translate}}</h4>
            <p>NT$ 1500</p>
            <h4>{{'campsite.remark'|translate}}</h4>
            <p>{{'campsite.b_cottage_type'|translate}}
              <br />{{'campsite.b_cottage_remark'|translate}}
            </p>
          </article>
          <mat-divider [inset]="true"></mat-divider>
          <h4>
            <button mat-raised-button (click)="openMap(24.380047, 121.305344)">
              {{'campsite.d_cottage'|translate}}
              <mat-icon>location_on</mat-icon>
            </button>
          </h4>
          <img src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/camping%2Fhouse-dream%2F%E7%AF%89%E5%A4%A2%E5%B1%8B-1.jpg?alt=media&token=5ea62522-9297-4ed2-af06-11d3cefa1ff4"
            alt="">
          <article>
            <h4> {{'campsite.price'|translate}}</h4>
            <p>{{'campsite.weekdays'|translate}}:NT$ 1600 {{'campsite.holiday'|translate}}:NT$1800</p>
            <h4>{{'campsite.remark'|translate}}</h4>
            <p> {{'campsite.d_cottage_type'|translate}}
              <br />{{'campsite.d_cottage_remark'|translate}}
            </p>
          </article>
          <mat-divider [inset]="true"></mat-divider>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>