<div class="container">
    <div class="content">
        <div class="slogan">
            <div class="article">
                <!-- <h1>{{'long_stay.slogan'|translate}}</h1> -->

                <h1>武陵農場一年一度美的饗宴，漫步在粉紅色的幸福國度之中</h1>
            </div>
            <div class="contain">       
                    
                    <a href="https://www.youtube.com/channel/UCd4Zu_qoltvans8rmo7Zjxg"><img src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/announce%2Flong-stay%2Fcamp.jpg?alt=media&token=bc499891-bedb-48bf-851a-e71233d3699c" title="武陵農場-露營區即時影像" width="200" height="120" /></a>  <br>
              
                
                <!-- <P>{{'long_stay.contain1'|translate}} </P> -->
                <!-- <p>{{'long_stay.contain2'|translate}}</p>   -->
                <!-- <button mat-button (click)="getPrice()">{{'long_stay.more_information'|translate}}</button> -->

            </div>
        </div>
    </div>
</div>