<div [@place]="isDivVisible">
    <div>
        <img src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/visitor-center%2Fvisitor-center.jpg?alt=media&token=555debf3-438c-4b62-8974-8a03f282ef36"
            width="280" height="180" alt="武陵農場旅服照片" />
    </div>
    <div >
        <strong>{{'visitor_center.name'|translate}}</strong>
        <p>武陵農場旅遊服務中心主要販賣日常用品(拖鞋、牙膏等)與大眾食品(餅乾、飲料、農特產品等)。
            <br/>假日提供雞絲麵、貢丸湯、關東煮、肉粽等熱食
            <br/>營業時間:  每日 07:00~19:00
        </p>
        <br /> {{'visitor_center.tel'|translate}}
        <br /> {{'visitor_center.fax'|translate}}
        <br /> {{'visitor_center.address'|translate}}
        <br />
        <br />
        <br />
    </div>
</div>