<div [@place]="isDivVisible">
    <div>
        <img src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/visitor-center%2Fvisitor-center.jpg?alt=media&token=555debf3-438c-4b62-8974-8a03f282ef36"
            width="280" height="180" alt="武陵農場旅服照片" />
    </div>
    <div >
        <strong>{{'visitor_center.name'|translate}}</strong>
        <p>{{'visitor_center.content'|translate}}
            <br/>{{'visitor_center.product'|translate}}
            <br/>{{'visitor_center.open'|translate}}
        </p>
        <br /> {{'visitor_center.tel'|translate}}
        <br /> {{'visitor_center.fax'|translate}}
        <br /> {{'visitor_center.address'|translate}}
        <br />
        <br />
        <br />
    </div>
</div>