<div class="content" [@place]="isDivVisible">
    <div class="introduction">
        <h1>{{'ticket.ticket_price'|translate}}</h1>
        <br>
      <table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#B2B2B2">
       
        <tr>
          <th width="40%">{{'ticket.classification'|translate}}</th>
          <td>{{'ticket.weekdays'|translate}}</td>
          <td width="30%">{{'ticket.holiday'|translate}}</td>
        </tr>
        <tr>
          <th width="40%">{{'ticket.full'|translate}}</th>
          <td>NT$130</td>
          <td width="30%">NT$130</td>
        </tr>
        <tr>
          <th width="40%">{{'ticket.civil'|translate}}</th>
          <td>NT$100</td>
          <td width="30%">NT$130</td>
        </tr>
  
        <tr>
          <th width="40%">{{'ticket.half'|translate}}</th>
          <td colspan="2">NT$80 </td>
        </tr>
        <tr>
          <th width="40%">{{'ticket.veteran'|translate}}</th>
          <td colspan="2">NT$10
            <br>{{'ticket.veteran_remark'|translate}}</td>
        </tr>
        <tr>
          <th width="40%">{{'ticket.vehicle'|translate}}</th>
          <td colspan="2">{{'ticket.vehicle_fee'|translate}}</td>
        </tr>
      </table>
      <ul>
        <li>{{'ticket.note_01'|translate}}</li>
        <li>{{'ticket.note_02'|translate}}</li>
        <li>{{'ticket.note_03'|translate}}</li>
        <li>{{'ticket.note_04'|translate}}</li>
        <li>{{'ticket.note_05'|translate}}</li>
        <li>{{'ticket.note_06'|translate}}</li>
        <li>{{'ticket.note_07'|translate}}</li>
      </ul>
    </div>
  </div>