<div class="comtent" [@place]="isDivVisible">
    <div>
        <img src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/tea-shop%2Ftea-shop.jpg?alt=media&token=128eff15-0972-4192-8d1e-d7ddc97f6356" width="280" height="180" alt="武陵農場茶莊照片" />
    </div>
    <div>
        <strong>{{'tea_saloon.name'|translate}}</strong>
        <p>{{'tea_saloon.content'|translate}}
           <br/>{{'tea_saloon.open'|translate}}          
        </p>
        <br /> {{'tea_saloon.tel'|translate}}
        <br />{{'tea_saloon.fax'|translate}}
        <br /> {{'tea_saloon.address'|translate}}
        <br />
        <br />
        <br />
    </div>
</div>