<div class="comtent" [@place]="isDivVisible">
    <div>
        <img src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/tea-shop%2Ftea-shop.jpg?alt=media&token=128eff15-0972-4192-8d1e-d7ddc97f6356" width="280" height="180" alt="武陵農場茶莊照片" />
    </div>
    <div>
        <strong>{{'tea_saloon.name'|translate}}</strong>
        <p>武陵農場茶莊主要販賣以茶葉及農特產品為主，並有一些熱食提供。且提供喜愛泡茶喝的遊客，有一專屬泡茶空間，享受這自然環境孕育出來天然茶葉帶來的香韻潤喉滋味。
           <br/> 營業時間:  每日 07:30~18:00；寒、暑假及櫻花季期間每日07:00~18:30            
        </p>
        <br /> {{'tea_saloon.tel'|translate}}
        <br />{{'tea_saloon.fax'|translate}}
        <br /> {{'tea_saloon.address'|translate}}
        <br />
        <br />
        <br />
    </div>
</div>