<div class="content" [@place]="isDivVisible">
    <h3>武陵農場會議室借用要點</h3>
    <ul>
        <li>
            <article>
                <h4>適用範圍</h4>
                <P>提供為各項學術研討會、行政會議等之召開場所。</P>
            </article>
        </li>
        <li>
            <article>
                <h4>使用時間</h4>
                <P>每日分為08:00~11:00；14:00~17:00；18:00~21:00等3個時段。</P>
            </article>
        </li>
        <li>
            <article>
                <h4>借用方式</h4>
                <P>請先以公文函知本場，並將借用單位名稱、借用日期及時間、會議性質、參加人數等註明。(最多容納80人)</P>
            </article>
        </li>
        <li>
            <article>
                <h4>借用規定</h4>
                <ul>
                    <li>會議室(簡報室)內所有設施(包含桌、椅)維持既有狀況，不得破壞及移動。</li>
                    <li>室內不得舉行康樂、遊藝及聚餐等活動。</li>
                    <li>為避免影響本場辦公秩序，借用時間伙不得高聲喧嘩，並出入簡報室時保持安靜。</li>
                    <li>會議室(簡報室)提供會議召開外，並提供男、女化妝室以供使用。</li>
                </ul>
            </article>
        </li>
        <li>
            <article>
                <h4>收費規定</h4>
                <P>每一時段收費1500元，以供作茶水、衛生清潔、照明設備，保養與維護。(請自備環保杯與原子筆)</P>
            </article>
        </li>
        <li>
            <article>
                <h4>預約專線</h4>
                <P> 04-25901258 #1111 (每天08:00~17:00)</P>
            </article>
        </li>
    </ul>
</div>