<div class="content" [@place]="isDivVisible">
    <h3>{{'meeting_room.conter_method'|translate}}</h3>
    <article>
        <P> {{'meeting_room.center_line'|translate}}</P>
    </article>
    <ul>
        <li>
            <article>
                <h4>{{'meeting_room.center_first'|translate}}</h4>
                <P>{{'meeting_room.center_provided'|translate}}</P>
            </article>
        </li>
        <li>
            <article>
                <h4>{{'meeting_room.center_second'|translate}}</h4>
                <P>{{'meeting_room.center_divided'|translate}}</P>
            </article>
        </li>
        <li>
            <article>
                <h4>{{'meeting_room.center_third'|translate}}</h4>
                <P>{{'meeting_room.center_field'|translate}}</P>
            </article>
        </li>
        <li>
            <article>
                <h4>{{'meeting_room.center_fourth'|translate}}</h4>
                <ul>
                    <li>{{'meeting_room.center_one'|translate}}</li>
                    <li>{{'meeting_room.center_two'|translate}}</li>
                    <li>{{'meeting_room.center_three'|translate}}</li>
                    <li>{{'meeting_room.center_four'|translate}}</li>
                </ul>
            </article>
        </li>
        <li>
            <article>
                <h4>{{'meeting_room.center_fifth'|translate}}</h4>
                <P>{{'meeting_room.center_period'|translate}}</P>
                <P>{{'meeting_room.center_copy'|translate}}</P>
            </article>
        </li>
    </ul>
</div>