div{
    width: calc(100% -8px);
    height:382px;
    display: block;
    position: relative;  
  }
  
  mat-radio-group {
    bottom: 2%;
    left: calc(50% - 25px);
    position: absolute;
    z-index: 100;    
  }
  

  