<div class="content">
  <div class="box"><div>{{'weather.date'|translate}}: </div><div>{{data.date}}</div></div>
  <div class="box"><div>{{'weather.nowTemp'|translate}}:</div><div>{{data.temperature}}</div> </div>
  <div class="box"><div>{{'weather.rainpassible'|translate}}:</div><div>{{data.humidity}}</div></div>
  <div class="box"><div>{{'weather.time'|translate}}:</div><div>{{data.time}}</div></div>
  <div class="box"><div>{{'weather.minTemp'|translate}}:</div><div>{{data.lowest}}</div> </div>
  <div class="box"><div>{{'weather.rainfall'|translate}}:</div><div>{{data.rain}}</div></div>
</div>