.content {
    margin:8px 0 ; 
    width: 100%;       
  }
  span {
      content: "\2103";
    }
  
  .box {
   // font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    width: calc((100% /3) - 10px);
    min-width: 140px;
    display: inline-block;
    vertical-align: center;
    text-align: left;
    font-size: 14px;
    line-height:18px;
  }