<div class="content">
  <div class="box">{{'weather.date'|translate}}:{{(data$ | async)?.date}}</div>
  <div class="box">{{'weather.nowTemp'|translate}}:{{(data$ | async)?.temperature}} </div>
  <div class="box">{{'weather.rainpassible'|translate}}:{{(data$ | async)?.humidity}}</div>
  <div class="box">{{'weather.time'|translate}}:{{(data$ | async)?.time}}</div>
  <div class="box">{{'weather.minTemp'|translate}}:{{(data$ | async)?.lowest}} </div>
  <div class="box">{{'weather.rainfall'|translate}}:{{(data$ | async)?.rain}}</div>
</div>