:host{   
    display: block;      
    background-color: lightgray;
    border-radius: 5px ; 
    box-shadow: 12px 12px 12px #ccc;   
    margin:20px 0;
    padding:8px 16px;  
    font-size: 14px;
    line-height: 20px;   
    text-shadow: none;   
}

.badge{
       font-weight:bold;        
}

.badge-danger{
    background-color: red;
}

.badge-warning{
    background-color:red;
}

.badge-secondary{
    background-color: orange;
}

.badge-action{
    background-color: orange;
}

.badge-primary{
    background-color: yellow;
}

.badge-info{
    background-color: yellow;
}

 

@media only screen and (max-width:1200px) {
   
}
@media screen and (max-width:1023px) {

}
@media only screen and (max-width:768px) {

}
@media only screen and (max-width:480px) {
   
}