<div [@place]="isDivVisible">
    <mat-card>
        <mat-card-content>
            <p>
                {{'wuling-hotel.introduction'|translate}}
            </p>
            <a class="booking" mat-raised-button color="primary" href="https://wuling-sakura-01.azurewebsites.net/" target="_blank"> {{'wuling-hotel.order'|translate}}</a>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon>hotel</mat-icon>
                        </mat-panel-title>
                        <mat-panel-description>
                            {{'wuling-hotel.wuling_hotel'|translate}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <h4>
                        <button mat-raised-button (click)="openMap(24.345592,121.308265)">
              {{'wuling-hotel.creek_building'|translate}}
              <mat-icon>location_on</mat-icon>
            </button>
                    </h4>
                    <img src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/hotel%2Fcreek-double%2Fcreek-duble-01.jpg?alt=media&token=efe9c1ed-dc06-45bf-b6b5-93cbaff0df4c" alt="">
                    <article>
                        <h4>{{'wuling-hotel.price'|translate}}</h4>
                        <table>
                            <tr>
                                <th> </th>
                                <th>{{'wuling-hotel.general_people'|translate}}</th>
                                <th>{{'wuling-hotel.special'|translate}}</th>
                                <th>{{'wuling-hotel.veterans'|translate}}</th>
                            </tr>
                            <tr>
                                <td>{{'wuling-hotel.weekdays'|translate}}</td>
                                <td>NT$ 2936</td>
                                <td>NT$ 2694</td>
                                <td>NT$ 2331</td>
                            </tr>
                            <tr>
                                <td>{{'wuling-hotel.holiday'|translate}}</td>
                                <td>NT$ 3420</td>
                                <td>NT$ 3178</td>
                                <td>NT$ 3178</td>
                            </tr>
                        </table>
                        <h4>{{'wuling-hotel.note'|translate}}</h4>
                        <p>{{'wuling-hotel.two_single'|translate}}</p>
                    </article>
                    <mat-divider [inset]="true"></mat-divider>
                    <h4>
                        <button mat-raised-button (click)="openMap(24.346154, 121.308263)">
              {{'wuling-hotel.honeymoon_suite'|translate}}
              <mat-icon>location_on</mat-icon>
            </button>
                    </h4>
                    <img src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/hotel%2Fhoneymoon-suite%2Fhoneymoon-suite01.jpg?alt=media&token=edea18b5-fa36-410e-94d4-59968f782ad5" alt="">
                    <article>
                        <h4>{{'wuling-hotel.price'|translate}}</h4>
                        <table>
                            <tr>
                                <th> </th>
                                <th>{{'wuling-hotel.general_people'|translate}}</th>
                                <th>{{'wuling-hotel.special'|translate}}</th>
                                <th>{{'wuling-hotel.veterans'|translate}}</th>
                            </tr>
                            <tr>
                                <td>{{'wuling-hotel.weekdays'|translate}}</td>
                                <td>NT$ 3200</td>
                                <td>NT$ 2925</td>
                                <td>NT$ 2513</td>
                            </tr>
                            <tr>
                                <td>{{'wuling-hotel.holiday'|translate}}</td>
                                <td>NT$ 3750</td>
                                <td>NT$ 3475</td>
                                <td>NT$ 3475</td>
                            </tr>
                        </table>
                        <h4>{{'wuling-hotel.note'|translate}}</h4>
                        <p>{{'wuling-hotel.one_king'|translate}}</p>
                    </article>
                    <mat-divider [inset]="true"></mat-divider>
                    <h4>
                        <button mat-raised-button (click)="openMap(24.346154, 121.308263)">
              {{'wuling-hotel.family_suite'|translate}}
              <mat-icon>location_on</mat-icon>
            </button>
                    </h4>
                    <img src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/hotel%2Ffamily-suite%2Ffamily-suite-01.jpg?alt=media&token=06cb15d6-5901-4869-9b51-777c6bb156f5" alt="">
                    <article>
                        <h4>{{'wuling-hotel.price'|translate}}</h4>
                        <table>
                            <tr>
                                <th> </th>
                                <th>{{'wuling-hotel.general_people'|translate}}</th>
                                <th>{{'wuling-hotel.special'|translate}}</th>
                                <th>{{'wuling-hotel.veterans'|translate}}</th>
                            </tr>
                            <tr>
                                <td>{{'wuling-hotel.weekdays'|translate}}</td>
                                <td>NT$ 4552</td>
                                <td>NT$ 4233</td>
                                <td>NT$ 3755</td>
                            </tr>
                            <tr>
                                <td>{{'wuling-hotel.holiday'|translate}}</td>
                                <td>NT$ 5190</td>
                                <td>NT$ 4871</td>
                                <td>NT$ 4871</td>
                            </tr>
                        </table>
                        <h4>{{'wuling-hotel.note'|translate}}</h4>
                        <p> {{'wuling-hotel.two_double'|translate}} OR {{'wuling-hotel.one_double_two_single'|translate}}
                        </p>
                    </article>
                    <mat-divider [inset]="true"></mat-divider>
                    <h4>
                        <button mat-raised-button (click)="openMap(24.346154, 121.308263)">
              {{'wuling-hotel.japanese_style'|translate}}
              <mat-icon>location_on</mat-icon>
            </button>
                    </h4>
                    <img src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/hotel%2Fjapanese-style-suite%2Fjapanese-style-suite-01.jpg?alt=media&token=7177ae7d-a780-4b07-9abe-63278fea2c5f" alt="">
                    <article>
                        <h4>{{'wuling-hotel.price'|translate}}</h4>
                        <table>
                            <tr>
                                <th> </th>
                                <th>{{'wuling-hotel.general_people'|translate}}</th>
                                <th>{{'wuling-hotel.special'|translate}}</th>
                                <th>{{'wuling-hotel.veterans'|translate}}</th>
                            </tr>
                            <tr>
                                <td>{{'wuling-hotel.weekdays'|translate}}</td>
                                <td>NT$ 6600</td>
                                <td>NT$ 6150</td>
                                <td>NT$ 5475</td>
                            </tr>
                            <tr>
                                <td>{{'wuling-hotel.holiday'|translate}}</td>
                                <td>NT$ 7500</td>
                                <td>NT$ 7050</td>
                                <td>NT$ 7050</td>
                            </tr>
                        </table>
                        <h4>{{'wuling-hotel.note'|translate}}</h4>
                        <p>{{'wuling-hotel.six_mattresses'|translate}}</p>
                    </article>
                    <mat-divider [inset]="true"></mat-divider>
                    <h4>
                        <button mat-raised-button (click)="openMap(24.345069, 121.308203)">
              {{'wuling-hotel.maple_cottage'|translate}}
              <mat-icon>location_on</mat-icon>
            </button>
                    </h4>
                    <img src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/hotel%2Fmaple-double%2Fmaple-double-01.jpg?alt=media&token=4400b8f9-c45c-4653-9683-dd9df48784f6" alt="">
                    <article>
                        <h4>{{'wuling-hotel.price'|translate}}</h4>
                        <table>
                            <tr>
                                <th></th>
                                <th>{{'wuling-hotel.general_people'|translate}}</th>
                                <th>{{'wuling-hotel.special'|translate}}</th>
                                <th>{{'wuling-hotel.veterans'|translate}}</th>
                            </tr>
                            <tr>
                                <td>{{'wuling-hotel.weekdays'|translate}}</td>
                                <td>NT$ 3640</td>
                                <td>NT$ 3310</td>
                                <td>NT$ 2815</td>
                            </tr>
                            <tr>
                                <td>{{'wuling-hotel.holiday'|translate}}</td>
                                <td>NT$ 4300</td>
                                <td>NT$ 3970</td>
                                <td>NT$ 3970</td>
                            </tr>
                        </table>
                        <h4>{{'wuling-hotel.note'|translate}}</h4>
                        <p> {{'wuling-hotel.one_king'|translate}} </p>
                    </article>
                    <mat-divider [inset]="true"></mat-divider>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon>hotel</mat-icon>
                        </mat-panel-title>
                        <mat-panel-description>
                            {{'wuling-hotel.leisure_farm_villa'|translate}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <h4>
                        <button mat-raised-button (click)="openMap(24.350666, 121.310016)">
              {{'wuling-hotel.peach_double'|translate}}
              <mat-icon>location_on</mat-icon>
            </button>
                    </h4>
                    <img src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/hotel%2Fshanshui-peach-double-room%2Fshanshui-peach-double-room-01.jpg?alt=media&token=fd0f273b-d900-491b-a5b3-97a3ecca9011" alt="">
                    <article>
                        <h4>{{'wuling-hotel.price'|translate}}</h4>
                        <table>
                            <tr>
                                <th></th>
                                <th>{{'wuling-hotel.general_people'|translate}}</th>
                                <th>{{'wuling-hotel.special'|translate}}</th>
                                <th>{{'wuling-hotel.veterans'|translate}}</th>
                            </tr>
                            <tr>
                                <td>{{'wuling-hotel.weekdays'|translate}}</td>
                                <td>NT$ 2936</td>
                                <td>NT$ 2694</td>
                                <td>NT$ 2331</td>
                            </tr>
                            <tr>
                                <td>{{'wuling-hotel.holiday'|translate}}</td>
                                <td>NT$ 3420</td>
                                <td>NT$ 3178</td>
                                <td>NT$ 3178</td>
                            </tr>
                        </table>
                        <h4>{{'wuling-hotel.note'|translate}}</h4>
                        <p>{{'wuling-hotel.one_king'|translate}}</p>
                    </article>
                    <mat-divider [inset]="true"></mat-divider>
                    <h4>
                        <button mat-raised-button (click)="openMap(24.350666, 121.310016)">
              {{'wuling-hotel.peach_quadruple'|translate}}
              <mat-icon>location_on</mat-icon>
            </button>
                    </h4>
                    <img src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/hotel%2Fpeach-blossom-village-quadruple-room%2Fpeach-blossom-village-double-room-01.jpg?alt=media&token=9d6826c8-6644-4690-97ab-48799586f3e4" alt="">
                    <article>
                        <h4>{{'wuling-hotel.price'|translate}}</h4>
                        <table>
                            <tr>
                                <th></th>
                                <th>{{'wuling-hotel.general_people'|translate}}</th>
                                <th>{{'wuling-hotel.special'|translate}}</th>
                                <th>{{'wuling-hotel.veterans'|translate}}</th>
                            </tr>
                            <tr>
                                <td>{{'wuling-hotel.weekdays'|translate}}</td>
                                <td>NT$ 4200</td>
                                <td>NT$ 3925</td>
                                <td>NT$ 3513</td>
                            </tr>
                            <tr>
                                <td>{{'wuling-hotel.holiday'|translate}}</td>
                                <td>NT$ 4750</td>
                                <td>NT$ 4475</td>
                                <td>NT$ 4475</td>
                            </tr>
                        </table>
                        <h4>{{'wuling-hotel.note'|translate}}</h4>
                        <p>{{'wuling-hotel.two_double'|translate}}</p>
                    </article>
                    <mat-divider [inset]="true"></mat-divider>
                    <h4>
                        <button mat-raised-button (click)="openMap(24.355179, 121.311531)">
              {{'wuling-hotel.wunkang_big'|translate}}
              <mat-icon>location_on</mat-icon>
            </button>
                    </h4>
                    <img src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/hotel%2Fwunkang-cottage-triple-big%2Fwunkang-cottage-triple-big-01.jpg?alt=media&token=7c0b1b0f-2b38-43bc-b650-22b81d82521d" alt="">
                    <article>
                        <h4>{{'wuling-hotel.price'|translate}}</h4>
                        <table>
                            <tr>
                                <th></th>
                                <th>{{'wuling-hotel.general_people'|translate}}</th>
                                <th>{{'wuling-hotel.special'|translate}}</th>
                                <th>{{'wuling-hotel.veterans'|translate}}</th>
                            </tr>
                            <tr>
                                <td>{{'wuling-hotel.weekdays'|translate}}</td>
                                <td>NT$ 4300</td>
                                <td>NT$ 3950</td>
                                <td>NT$ 3425</td>
                            </tr>
                            <tr>
                                <td>{{'wuling-hotel.holiday'|translate}}</td>
                                <td>NT$ 5000</td>
                                <td>NT$ 4650</td>
                                <td>NT$ 4650</td>
                            </tr>
                        </table>
                        <h4>{{'wuling-hotel.note'|translate}}</h4>
                        <p>{{'wuling-hotel.one_double_one_single'|translate}}</p>
                    </article>
                    <mat-divider [inset]="true"></mat-divider>
                    <h4>
                        <button mat-raised-button (click)="openMap(24.355179, 121.311531)">
              {{'wuling-hotel.wunkang_small'|translate}}
              <mat-icon>location_on</mat-icon>
            </button>
                    </h4>
                    <img src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/hotel%2Fwunkang-cottage-triple-small%2Fwunkang-cottage-triple-small-01.jpg?alt=media&token=72e7e244-1429-4778-84d9-a1baa85374d3" alt="">
                    <article>
                        <h4>{{'wuling-hotel.price'|translate}}</h4>
                        <table>
                            <tr>
                                <th></th>
                                <th>{{'wuling-hotel.general_people'|translate}}</th>
                                <th>{{'wuling-hotel.special'|translate}}</th>
                                <th>{{'wuling-hotel.veterans'|translate}}</th>
                            </tr>
                            <tr>
                                <td>{{'wuling-hotel.weekdays'|translate}}</td>
                                <td>NT$ 3900</td>
                                <td>NT$ 3600</td>
                                <td>NT$ 3150</td>
                            </tr>
                            <tr>
                                <td>{{'wuling-hotel.holiday'|translate}}</td>
                                <td>NT$ 4500</td>
                                <td>NT$ 4200</td>
                                <td>NT$ 4200</td>
                            </tr>
                        </table>
                        <h4>{{'wuling-hotel.note'|translate}}</h4>
                        <p>{{'wuling-hotel.one_double_one_single'|translate}}</p>
                    </article>
                    <mat-divider [inset]="true"></mat-divider>
                    <h4>
                        <button mat-raised-button (click)="openMap(24.355179, 121.311531)">
              {{'wuling-hotel.wunkang_japenese'|translate}}
              <mat-icon>location_on</mat-icon>
            </button>
                    </h4>
                    <img src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/hotel%2Fwunkang-cottage-japanese-style-suite%2Fwunkang-cottage-japanese-style-suite-01.jpg?alt=media&token=6eb17b59-5e40-4bc5-aa63-858d081f39ee" alt="">
                    <article>
                        <h4>{{'wuling-hotel.price'|translate}}</h4>
                        <table>
                            <tr>
                                <th></th>
                                <th>{{'wuling-hotel.general_people'|translate}}</th>
                                <th>{{'wuling-hotel.special'|translate}}</th>
                                <th>{{'wuling-hotel.veterans'|translate}}</th>
                            </tr>
                            <tr>
                                <td>{{'wuling-hotel.weekdays'|translate}}</td>
                                <td>NT$ 4464</td>
                                <td>NT$ 4156</td>
                                <td>NT$ 3694</td>
                            </tr>
                            <tr>
                                <td>{{'wuling-hotel.holiday'|translate}}</td>
                                <td>NT$ 5080</td>
                                <td>NT$ 4772</td>
                                <td>NT$ 4772</td>
                            </tr>
                        </table>
                        <h4>{{'wuling-hotel.note'|translate}}</h4>
                        <p> {{'wuling-hotel.four_mattresses'|translate}}</p>
                    </article>
                    <mat-divider [inset]="true"></mat-divider>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon>hotel</mat-icon>
                        </mat-panel-title>
                        <mat-panel-description>
                            {{'wuling-hotel.shanshui_villa'|translate}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <h4>
                        <button mat-raised-button (click)="openMap(24.353238, 121.311310)">
              {{'wuling-hotel.salmon_room'|translate}}
              <mat-icon>location_on</mat-icon>
            </button>
                    </h4>
                    <img src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/hotel%2Fshanshui-salmon-double-room%2Fshanshui-salmon-double-room-01.jpg?alt=media&token=86f2f815-212b-4fb4-9254-96b7944d8230" alt="">
                    <article>
                        <h4>{{'wuling-hotel.price'|translate}}</h4>
                        <table>
                            <tr>
                                <th></th>
                                <th>{{'wuling-hotel.general_people'|translate}}</th>
                                <th>{{'wuling-hotel.special'|translate}}</th>
                                <th>{{'wuling-hotel.veterans'|translate}}</th>
                            </tr>
                            <tr>
                                <td>{{'wuling-hotel.weekdays'|translate}}</td>
                                <td>NT$ 4600</td>
                                <td>NT$ 4150</td>
                                <td>NT$ 3475</td>
                            </tr>
                            <tr>
                                <td>{{'wuling-hotel.holiday'|translate}}</td>
                                <td>NT$ 5500</td>
                                <td>NT$ 5050</td>
                                <td>NT$ 5050</td>
                            </tr>
                        </table>
                        <h4>{{'wuling-hotel.note'|translate}}</h4>
                        <p> {{'wuling-hotel.two_single'|translate}}</p>
                    </article>
                    <mat-divider [inset]="true"></mat-divider>
                    <h4>
                        <button mat-raised-button (click)="openMap(24.353238, 121.311310)">
              {{'wuling-hotel.peach_room'|translate}}
              <mat-icon>location_on</mat-icon>
            </button>
                    </h4>
                    <img src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/hotel%2Fshanshui-peach-double-room%2Fshanshui-peach-double-room-01.jpg?alt=media&token=fd0f273b-d900-491b-a5b3-97a3ecca9011" alt="">
                    <article>
                        <h4>{{'wuling-hotel.price'|translate}}</h4>
                        <table>
                            <tr>
                                <th></th>
                                <th>{{'wuling-hotel.general_people'|translate}}</th>
                                <th>{{'wuling-hotel.special'|translate}}</th>
                                <th>{{'wuling-hotel.veterans'|translate}}</th>
                            </tr>
                            <tr>
                                <td>{{'wuling-hotel.weekdays'|translate}}</td>
                                <td>NT$ 3880</td>
                                <td>NT$ 3520</td>
                                <td>NT$ 2980</td>
                            </tr>
                            <tr>
                                <td>{{'wuling-hotel.holiday'|translate}}</td>
                                <td>NT$ 4600</td>
                                <td>NT$ 4240</td>
                                <td>NT$ 4240</td>
                            </tr>
                        </table>
                        <h4>{{'wuling-hotel.note'|translate}}</h4>
                        <p>{{'wuling-hotel.one_king'|translate}}</p>
                    </article>
                    <mat-divider [inset]="true"></mat-divider>
                    <h4>
                        <button mat-raised-button (click)="openMap(24.353238, 121.311310)">
              {{'wuling-hotel.maple_room'|translate}}
              <mat-icon>location_on</mat-icon>
            </button>
                    </h4>
                    <img src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/hotel%2Fshanshui-maple-double-room%2Fshanshui-maple-double-room-01.jpg?alt=media&token=ef19eb5c-3b4c-43dd-b53d-c418cb4805e1" alt="">
                    <article>
                        <h4>{{'wuling-hotel.price'|translate}}</h4>
                        <table>
                            <tr>
                                <th></th>
                                <th>{{'wuling-hotel.general_people'|translate}}</th>
                                <th>{{'wuling-hotel.special'|translate}}</th>
                                <th>{{'wuling-hotel.veterans'|translate}}</th>
                            </tr>
                            <tr>
                                <td>{{'wuling-hotel.weekdays'|translate}}</td>
                                <td>NT$ 3160</td>
                                <td>NT$ 2890</td>
                                <td>NT$ 2485</td>
                            </tr>
                            <tr>
                                <td>{{'wuling-hotel.holiday'|translate}}</td>
                                <td>NT$ 3700</td>
                                <td>NT$ 3430</td>
                                <td>NT$ 3430</td>
                            </tr>
                        </table>
                        <h4>{{'wuling-hotel.note'|translate}}</h4>
                        <p> {{'wuling-hotel.one_king'|translate}}</p>
                    </article>
                    <mat-divider [inset]="true"></mat-divider>
                    <h4>
                        <button mat-raised-button (click)="openMap(24.353430, 121.311409)">
              {{'wuling-hotel.apple_Plum'|translate}}
              <mat-icon>location_on</mat-icon>
            </button>
                    </h4>
                    <img src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/hotel%2Fshanshui-apple-plum-quadruple-room%2Fshanshui-apple-plum-quadruple-room-01.jpg?alt=media&token=85a6f8f7-95d4-4a1d-b744-5ca0c4ef6f77" alt="">
                    <article>
                        <h4>{{'wuling-hotel.price'|translate}}</h4>
                        <table>
                            <tr>
                                <th></th>
                                <th>{{'wuling-hotel.general_people'|translate}}</th>
                                <th>{{'wuling-hotel.special'|translate}}</th>
                                <th>{{'wuling-hotel.veterans'|translate}}</th>
                            </tr>
                            <tr>
                                <td>{{'wuling-hotel.weekdays'|translate}}</td>
                                <td>NT$ 5600</td>
                                <td>NT$ 5150</td>
                                <td>NT$ 4475</td>
                            </tr>
                            <tr>
                                <td>{{'wuling-hotel.holiday'|translate}}</td>
                                <td>NT$ 6500</td>
                                <td>NT$ 6050</td>
                                <td>NT$ 6050</td>
                            </tr>
                        </table>
                        <h4>{{'wuling-hotel.note'|translate}}</h4>
                        <p>{{'wuling-hotel.two_double'|translate}}</p>
                    </article>
                    <mat-divider [inset]="true"></mat-divider>
                    <h4>
                        <button mat-raised-button (click)="openMap(24.353238, 121.311310)">
              {{'wuling-hotel.cherry_room'|translate}}
              <mat-icon>location_on</mat-icon>
            </button>
                    </h4>
                    <img src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/hotel%2Fshanshui-cherry-quadruple-room%2Fshanshui-cherry-quadruple%20-room-01.jpg?alt=media&token=f10102f7-c4b2-4266-9410-af276927f6e8" alt="">
                    <article>
                        <h4>{{'wuling-hotel.price'|translate}}</h4>
                        <table>
                            <tr>
                                <th></th>
                                <th>{{'wuling-hotel.general_people'|translate}}</th>
                                <th>{{'wuling-hotel.special'|translate}}</th>
                                <th>{{'wuling-hotel.veterans'|translate}}</th>
                            </tr>
                            <tr>
                                <td>{{'wuling-hotel.weekdays'|translate}}</td>
                                <td>NT$ 5240</td>
                                <td>NT$ 4835</td>
                                <td>NT$ 4228</td>
                            </tr>
                            <tr>
                                <td>{{'wuling-hotel.holiday'|translate}}</td>
                                <td>NT$ 6050</td>
                                <td>NT$ 5645</td>
                                <td>NT$ 5645</td>
                            </tr>
                        </table>
                        <h4>{{'wuling-hotel.note'|translate}}</h4>
                        <p>{{'wuling-hotel.two_double'|translate}}</p>
                    </article>
                    <mat-divider [inset]="true"></mat-divider>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card-content>
    </mat-card>
</div>