mat-card{
    text-align: left;   
}

div{
    -ms-overflow-style: none;
    overflow: auto;
}

img{
    float: left;
    margin: 20px 8px;
    width: calc((100% * 33 / 100 ) - 24px);   
    max-height: 192px; 
}

article{
    
    display: inline-block;
    vertical-align: bottom;
    margin: 0px 8px;
    width: calc((100% * 66 / 100 ) - 44px); 
}

table{
    width:100%;
    border:0;
    padding:0;
    border-spacing: 1px;
    background-color: #DDDDDD;
    max-width: 600px;
  }

th,td{
    line-height: 24px;
    font-weight: normal;
    text-align: center;

}
th{     
    color: #000000;
    background-color: #EBEBEB;
  }
td{
    color: #333333;
    background-color: #FFFFFF;     
  }

.booking{
    visibility:visible;
}

.notChinese{
     
    visibility: hidden;
}


@media only screen and (max-width:768px) {  
    img{     
        width:calc(100% / 2);
        display:block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }  
    article{
        width: 100% ;
    }   
} 

@media only screen and (max-width:480px) {  
    img{     
        width:100%;         
    } 
 
}