<mat-toolbar color="primary">
    <div style="font-size: 12px;">
        <a href="https://docs.google.com/document/d/1WBJwhB2F3M2n7wUPZzj-5HufyyI1qyRwnxMPBQVDLDQ/edit?usp=sharing"
            style="text-decoration:none; color:white">測試用（開發中）</a>

        <!-- <button mat-icon-button (click)="onToggleLeftnav()">
            <mat-icon>menu</mat-icon>
        </button> -->
    </div>
    <div class="seprator"></div>
    <div>
        <ul>
            <li>
                <a href="https://www.facebook.com/WulingFarm0510">
                    <i class="fa fa-facebook-official" style="font-size:24px; color:white ;margin: 10px "></i>
                </a>
            </li>
            <li>
                <a href="https://dorado-project.firebaseapp.com/home">
                    <mat-icon style="font-size:24px; color:white ;margin: 10px ">account_balance</mat-icon>
                </a>
            </li>
            <li>
                <button mat-icon-button [matMenuTriggerFor]="m">
                    <mat-icon>translate</mat-icon>
                </button>
                <mat-menu #m="matMenu">
                    <button #b [id]="language.code" mat-menu-item *ngFor="let language of languages" (click)="languageSelected(language)">{{language.display}}</button>
                </mat-menu>
            </li>
            <li>
                <button mat-icon-button>
                    <mat-icon>shopping_cart</mat-icon>
                </button>
            </li>
            <!-- <li>
                <button mat-icon-button (click)="onToggleRightnav()">
                    <mat-icon>person</mat-icon>
                </button>
                 
              
            </li> -->

        </ul>
    </div>
</mat-toolbar>