.seprator {
  flex: 1 1 auto;
}

.logo {
  height: 56px;
  vertical-align: middle;
}

.main {
  padding-right: 16px;
}

button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  vertical-align: bottom;    
}

.bnt {  
  animation-name: moveInLeft;
  animation-duration: 1s;
}

.bnt:link,
.bnt:visited {
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 6px;
  padding: 2px 6px;
  display: inline-block;
}

.icon {
  vertical-align: bottom;   
  transition: all .1s;
}

.icon-white {
  color: white;
}

.bnt:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .6)
}

.bnt:active {
  transform: translateY(-1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .6)
}

.awesome {
  font-size: 26px;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(400px);
  }

  80% {
    transform: translateX(-2px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
