<app-dashboard></app-dashboard>
<a href="#" class="btn btn-gray btn-animated" (click)="logout()" >log out</a>
<a href="#" class="btn btn-gray btn-animated" (click)="state()" >state</a>
<a href="#" class="btn btn-gray btn-animated" (click)="isLogin()" >isLogin</a>
<a href="#" class="btn btn-gray btn-animated" (click)="logWithFacebook()" >login with facebook</a>
<a href="#" class="btn btn-gray btn-animated" (click)="setData()" >set</a>
<a href="#" class="btn btn-gray btn-animated" (click)="update()" >update</a>
<a href="#" class="btn btn-gray btn-animated" (click)="delete()" >delete</a>
<a href="#" class="btn btn-gray btn-animated" (click)="fetch()" >fetch</a>
