<div class="content" [@place]="isDivVisible">
    <h1>{{'itinerary.advice'|translate}}</h1>
    <div class="title">
        {{'itinerary.tow_days'|translate}}
    </div>
    <ul>
        <li>
            <div>{{'itinerary.first_day'|translate}}</div>
            <p>
                {{'itinerary.trip_one'|translate}}
                <br>{{'itinerary.trip_two'|translate}}
            </p>
        </li>
        <li>
            <div>
                {{'itinerary.next_day'|translate}}
            </div>
            <P>
                {{'itinerary.trip_three'|translate}}
            </P>
        </li>
        <div>{{'itinerary.note_one'|translate}}</div>
        <div>{{'itinerary.note_two'|translate}}</div>
    </ul>
    <hr>
    <div class="title">
        {{'itinerary.three_days'|translate}}
    </div>
    <ul>
        <li>
            <div>{{'itinerary.first_day'|translate}}</div>
            <p>
                {{'itinerary.trip_four'|translate}}
                <br>{{'itinerary.tirp_five'|translate}}
            </p>
        </li>
        <li>
            <div>
                {{'itinerary.next_day'|translate}}
            </div>
            <P>
                {{'itinerary.tirp_six'|translate}}
                <br> {{'itinerary.trip_seven'|translate}}
            </P>
        </li>
        <li>
            <div>
                {{'itinerary.third_day'|translate}}
            </div>
            <P>
                {{'itinerary.trip_eight'|translate}}
            </P>

        </li>
    </ul>
    <hr>
    <div class="title">
        {{'itinerary.trail'|translate}}
    </div>
    <ul>
        <li>
            <p>
                {{'itinerary.trip_ten'|translate}}
            </p>
        </li>
    </ul>
    <div>{{'itinerary.note_one'|translate}}</div>
    <div>{{'itinerary.note_two'|translate}}</div>
    <hr>
</div>