<div class="content" [@place]="isDivVisible">
    <h1>{{'agricultural.products'|translate}} </h1>
    <div>
        <div>
            <img class="leftside" src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/product%2Fpic-01.jpg?alt=media&token=383319b4-0e61-40ef-8953-fdb5804b7da2" alt="">
        </div>
        <div class="title">
            {{'agricultural.wuling_tea'|translate}}
        </div>
        <div class="contain">
            {{'agricultural.tea_introduction'|translate}}
        </div>
    </div>
    <hr>
    <div>
        <div>
            <img class="rightside" src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/product%2Fpic-02.jpg?alt=media&token=0965773e-582b-41ea-83c7-3d697263aae0" alt="">
        </div>
        <div class="title">
            {{'agricultural.fruit'|translate}}
        </div>
        <div class="contain">
            {{'agricultural.fruit_introduction'|translate}}
        </div>
    </div>
    <hr>
    <div>
        <div>
            <img class="leftside" src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/product%2Fmun.jpg?alt=media&token=a4da6dde-67ec-4cda-ac11-4a086da7048f" alt="">
        </div>
        <div class="title">
            {{'agricultural.souvenirs'|translate}}
        </div>
        <div class="contain">
            {{'agricultural.souvenirs_introduction'|translate}}
        </div>
    </div>
    <hr>
</div>