div.content {
    text-align: left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: normal;
    color: #4A4A4A;    
    margin: 0px 30px 0px 30px; 
}

div h1{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 25px;
    font-weight: normal;
    color: #603A0A;
    background-color: #D5D5D5;    
}

hr {  
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;      
  }

div.title{
  color:green;
  font-size: 16px;
  font-weight:bold;
  line-height:32px;
  margin: 20px 0px 0px 0px;
  
} 

div.contain{
    min-height: 190px;
}

img.leftside{
  float:left;
  margin: 10px 20px 10px 10px; 
}

img.rightside{
  float:right;
  margin: 10px 10px 10px 20px; 
}
 

@media only screen and (max-width:1200px) {}
@media only screen and (max-width:1023px) {}
@media only screen and (max-width:768px) {}
@media only screen and (max-width:480px) {
    div.content {
        border: 10px 10pc 10px 10px;
        background-color: white;
        margin: 0px 0px 0px 0px;
    }
  img.leftside{
    float: left;
    margin: 10px 0px 10px 0px;      
    width: auto;
	  height: auto;
	  max-width: 100%;
	  max-height: 100%; 
  }
  
  img.rightside{
    float:right;
    margin: 10px 0px 10px 0px; 
    width: auto;
	  height: auto;
	  max-width: 100%;
	  max-height: 100%;
  }
}
