<div class="content" [@place]="isDivVisible">
    <h1>{{'ecotourism.ecology'|translate}}</h1>
    <div>
        {{'ecotourism.according'|translate}}
    </div>
    <div>

        <div>
            <img class="leftside" src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/ecotoursim%2Fpic-01.jpg?alt=media&token=a65bbd48-a6be-498d-8f2b-30f7f0d769fa" alt="">
        </div>
        <div class="title">
            {{'ecotourism.zoological'|translate}}
        </div>
        <div>
            {{'ecotourism.zoological_resources'|translate}}
        </div>
        <div class="suggest">
            {{'ecotourism.zoological_suggest'|translate}}
        </div>
    </div>
   
    <div>
        <div>
            <img class="rightside" src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/ecotoursim%2Fpic-02.jpg?alt=media&token=290b6dcf-f99e-4399-8977-e5472c60f7e4" alt="">
        </div>
        <div class="title">
            {{'ecotourism.botanical'|translate}}
        </div>
        <div>
            {{'ecotourism.botanical_resources'|translate}}
        </div>
        <div class="suggest">
            {{'ecotourism.botanical_suggest'|translate}}
        </div>
    </div>
    <div>
        <div>
            <img class="leftside" src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/ecotoursim%2Fpic-03.jpg?alt=media&token=2fea92ca-63ea-43c2-83cf-2da1f624770d" alt="">
        </div>
        <div class="title">
            {{'ecotourism.historical'|translate}}
        </div>
        <div>
            {{'ecotourism.historical_resources'|translate}} </div>
        <div class="suggest">
            {{'ecotourism.historical_suggest'|translate}}
        </div>
    </div>
    <div>
        <div>
            <img class="rightside" src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/ecotoursim%2Fpic-04.jpg?alt=media&token=10c81fcc-5c43-4957-a026-c928102cc852" alt="">
        </div>
        <div class="title">
            {{'ecotourism.cultural'|translate}}
        </div>
        <div>
            {{'ecotourism.cultural_resources'|translate}} </div>
        <div class="suggest">
            {{'ecotourism.cultural_suggest'|translate}}
        </div>
    </div>
</div>