header{
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}


mat-drawer-content{
  margin-top :  68px;
}

@media only screen and (max-width:480px) {
  mat-drawer{
    width:calc(100vw - 40px );
  }
}
