<div class="content" [@place]="isDivVisible">
    <h1>北谷區深度導覽遊園巴士</h1>
    <div class="title">
        北谷遊園巴士生態導覽 150元/人，小朋友學齡前佔位100元，不佔位免費。
    </div>
    <div>
        <div>
            <img class="rightside" src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/navigation%2Fpic-02.jpg?alt=media&token=cb75b6da-bf6c-4a6a-9d5b-7051159015ea"
                alt="">
        </div>
        <div class="schedule">
            <p>
                <br/>平日:星期一至星期五
                <br/> 上午 9:00~11:00
                <br/> 下午14:30~16:30

            </p>
            <p>
                <br/> 假日:星期六至星期日
                <br/> 暑假:星期一至星期日
                <br/> 上午08:00~10:00；10:00~12:00
                <br/> 下午13:30~15:30；15:30~17:30
            </p>
            <p>
                <br/> 請提前預約，發車時段視預約狀況調整。

            </p>
            <p>
                <br/> 北谷園區行程
                <br/> 武陵賓館出發→觀魚台(櫻花鉤吻鮭)→雪山登山口→露營區森林咖啡吧 →武陵茶莊(全程約2小時)。
            </p>
        </div>
    </div>
    <hr>
    <h1>南谷園區步行導覽解說</h1>
    <div class="title">
        南谷生態導覽 免費
    </div>
    <div>
        <div>
            <img class="rightside" src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/navigation%2Fpic-03.jpg?alt=media&token=40c41345-d14f-47cc-9b91-6310ca88f2ad"
                alt="">
        </div>
        <div class="schedule">
            <p>
                藉由解說員生動活潑導覽介紹，讓每位遊客徜徉在青山綠水的大自然懷抱下，同時能了解大自然生態之美，豐富您優質的遊程。
            </p>
            <p>
                <br/>上午08:30 ~ 10:30
                <br/>下午14:30 ~ 16:30
            </p>
            <p>
                <br/> 南谷園區行程
                <br/> 武陵賓館出發→迎賓橋→賞鳥步道→松林大道→蔣公行館→武陵茶莊(全程步行，約2小時)。
            </p>
        </div>
        <hr>
    </div>