<div class="content" [@place]="isDivVisible">
    <h1>{{'tour_guide.north_bus'|translate}}</h1>
    <div class="title">
        {{'tour_guide.north_price'|translate}}
    </div>
    <div>
        <div>
            <img class="rightside" src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/navigation%2Fpic-02.jpg?alt=media&token=cb75b6da-bf6c-4a6a-9d5b-7051159015ea"
                alt="">
        </div>
        <div class="schedule">
            <p>
                <br/>{{'tour_guide.north_weekdays'|translate}}
                <br/> {{'tour_guide.north_morniing'|translate}}
                <br/> {{'tour_guide.north_afternoon'|translate}}

            </p>
            <p>
                <br/>{{'tour_guide.weekend'|translate}}
                <br/> {{'tour_guide.holiday'|translate}}
                <br/> {{'tour_guide.weekend_morning'|translate}}
                <br/> {{'tour_guide.weekend_afternoon'|translate}}
            </p>
            <p>
                <br/> {{'tour_guide.notice'|translate}}

            </p>
            <p>
                <br/> {{'tour_guide.north_program'|translate}}
                <br/> {{'tour_guide.north_procedure'|translate}}
            </p>
        </div>
    </div>
    <hr>
    <h1>{{'tour_guide.south_waker'|translate}}</h1>
    <div class="title">
        {{'tour_guide.south_price'|translate}}
    </div>
    <div>
        <div>
            <img class="rightside" src="https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/navigation%2Fpic-03.jpg?alt=media&token=40c41345-d14f-47cc-9b91-6310ca88f2ad"
                alt="">
        </div>
        <div class="schedule">
            <p>
                {{'tour_guide.south_guide'|translate}}
            </p>
            <p>
                <br/>{{'tour_guide.south_morning'|translate}}
                <br/>{{'tour_guide.south_afternoon'|translate}}
            </p>
            <p>
                <br/> {{'tour_guide.south_program'|translate}}
                <br/> {{'tour_guide.south_procedure'|translate}}
            </p>
        </div>
        <hr>
    </div>