@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@ngx-gallery/core/styles/gallery.css';
@import '~@ngx-gallery/core/styles/lightbox.css';

html, body{
    /* font-family:'cwTeXKai', sans-serif; */
    font-family: 'Noto Sans TC','Roboto', 'Rounded Mplus 1c', Verdana, Arial, Helvetica, sans-serif;  
    font-size: 15px;
    line-height: 25px;   
    height: 100%;
}

body{
    margin:0;
}
