.content {
	text-align: left;
	margin: 16px;
}

div{
	-ms-overflow-style: none;
	overflow: auto;
  }
  

.explain{	
	max-width: 1200px;	
	list-style-type: none;  
}

ul{
	padding: 0px;
}

.notice{
	list-style-type:decimal;
	padding: 16px;

}

article{
	color: #603A0A;
	background-color: #D5D5D5;
	display:inline-block; 
}

strong{	
	color: #50940D;
}

@media only screen and (max-width:480px) {  
	// ul.explain{		 
	// 	padding: 20px  5px 15px  5px;
	// } 
	// ul.explain li h2{		
	// 	padding: 25px 5px 25px 5px;	
	// }
	// ul.explain li{
	// 	padding: 25px 5px 25px 5px;
	// }
  }