agm-map{    
   max-width: 100%; 
   height: calc(100% - 40px);  
}
@media only screen and (max-width:480px) {   
        agm-map{            
            padding: 0;
            margin: 0; 
        }  
  }

