 .content {
    max-width: 1200px;
    margin: auto;     
    text-align: center;
    width: auto;     
  }

  .article {
    margin: 40px 40px 0px 10px;
    text-align: left;
  } 
   
  .banner {   
    margin: 12px 12px ;    
    height: 392px;  
    box-shadow: 8px 8px 8px #ccc;   
  }

  .box {   
    margin: 12px 12px ;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
    box-shadow: 8px 8px 8px #ccc;
    font-size:large;
    text-shadow: 0 0 .8em white ,0 0 .8em white ,0 0 .8em  white,0 0 .8em white ,0 0 .8em  white;
  }

  .status {
    width: calc((100% /2) - 24px);
    min-height: 140px; 
  }

  .weather, .traffic {
    background-image: linear-gradient( to bottom right, #D3D3D3 0%,  #F0F0F0  100%);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .living {
    width: calc((100% /2) - 24px);
    height: 256px;   
    background-image: linear-gradient( to bottom right, #D3D3D3 0%,  #F0F0F0  100%);
    background-repeat: no-repeat;
    background-size: cover;    
  }

  .hotel {  
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 100%), url(https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/home%2Fhotel.jpg?alt=media&token=b99579ad-2881-4614-b11a-4e17ae222725);
    background-size: cover;
    margin: 8px;
    height: 240px;
   
  }  

  .camping {   
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 100%), url(https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/home%2Fcamping.jpg?alt=media&token=dd2969ca-9c4e-48cb-8708-2de8dfb6cac9 );
    background-size: cover;
    margin: 8px;
    height: 240px;   
  }  

  .store {
    width: calc((100% /3) - 24px);
    background-image: linear-gradient( to bottom right, #D3D3D3 30%, #F0F0F0  100%);
    background-repeat: no-repeat;
    background-size: cover;
    // background-color: darksalmon;
    height: 256px;
  }

  .restaurant{    
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 100%), url(https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/home%2Frestaurant.jpg?alt=media&token=1bbb4959-f186-427d-b3b3-393c5e399cac);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 8px;  
    height: 240px;
  }

  .ecotourism {   
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 100%), url(https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/home%2Fecotourism.jpg?alt=media&token=6f4c2297-c43d-443b-a6c9-d2649b0a5d0b);
    background-size: cover;
    margin: 8px;
    height: 240px;
  }

  .product {   
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2)30%, rgba(255, 255, 255, 0.2) 100%), url(https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/home%2Fproduct.jpg?alt=media&token=bd20b9f0-1e1f-45bc-bda6-cba84b07ce87);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 8px;
    height: 240px;
  }

  .offer {
    width: calc((100% /4) - 24px);
    background-image: linear-gradient( to bottom right, #D3D3D3 30%, #F0F0F0  100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 158px;
  }
  
  .tollbooth {    
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 100%), url(https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/home%2Ftoll.jpg?alt=media&token=d4d69c3e-c1e8-4570-9cb7-c9d3264325f6);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 8px;
    height: 140px;
  }
  .departure{     
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 100%), url(https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/home%2Fdeparture.jpg?alt=media&token=bcbfe9cb-766f-467f-b855-47f615237f30);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 8px;
    height: 140px;
  }  
  .navigation{    
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2)30%, rgba(255, 255, 255, 0.2) 100%), url(https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/home%2Fnavigation.jpg?alt=media&token=98bc5fb0-e39b-4913-b1ba-19e102132e43);
    background-size: cover;
    margin: 8px;
    height: 140px;
  }
  .itinerary{    
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2)30%, rgba(255, 255, 255, 0.2) 100%), url(https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/home%2Fitinerary.jpg?alt=media&token=a893ee33-4305-41f5-b969-8bbe35d64ccc);
    background-size: cover;
    margin: 8px;
    height: 140px;
  }

  .tea {    
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2) 30%, rgba(255, 255, 255, 0.2) 100%), url(https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/home%2Ftea.jpg?alt=media&token=24e83524-9ba1-4c68-b559-27965d72b7ea);
    background-size: cover;
    margin: 8px;
    height: 140px;
  }
  
  .visitor {    
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2)30%, rgba(255, 255, 255, 0.2) 100%), url(https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/home%2Fvisitor.jpg?alt=media&token=21681060-508c-4e3f-8139-1fe6c44a326d);
    background-size: cover;
    margin: 8px;
    height: 140px;
  }

  .meeting-room {    
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2)30%, rgba(255, 255, 255, 0.2) 100%), url(https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/home%2Fmeeting-room.jpg?alt=media&token=05c45da0-01cd-4308-9945-6deb5c59e37f);
    background-size: cover;
    margin: 8px;
    height: 140px;
  }

  .salmon{  
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2)30%, rgba(255, 255, 255, 0.2) 100%), url(https://firebasestorage.googleapis.com/v0/b/mercury-object.appspot.com/o/home%2Fcoffee-bar.jpg?alt=media&token=357d93b8-1481-43db-a420-e2d3325f6295);
    background-size: cover;
    margin: 8px;
    height: 140px;
  }  
   
  
@media only screen and (max-width:1200px) {
  .living {
    height: 212px;     
  }
  .hotel {  
    height: 196px;  
  }  
  .camping {   
    height: 196px;
  }
  .store {
    height: 212px;
  }
  .restaurant{    
    height: 196px;
  }
  .ecotourism {   
    height: 196px;
  }
  .product {   
    height: 196px;
  }
  .offer {
    height: 128px;
  }
  .tollbooth {  
    height: 112px;    
  }
  .departure{
    height: 112px;  
  }  
  .navigation{    
    height: 112px;       
  }
  .itinerary{   
    height: 112px;  
  }
  .tea {    
    height: 112px;  
  }  
  .visitor {  
    height: 112px;   
  }
  .meeting-room { 
    height: 112px;     
  }
  .salmon{ 
    height: 112px;       
  }  
}
  
@media screen and (max-width:1023px) {
  .living {
    height: 160px;     
  }
  .hotel {  
    height: 144px;
  }  
  .camping {   
    height: 144px;
  }  
  .store {
    height: 160px;  
  }
  .restaurant{    
    height: 144px;
  }
  .ecotourism {   
    height: 144px;
  }
  .product {   
    height: 144px;
  }

  .offer {
    height: 96px;
  }
  .tollbooth {  
    height: 80px;    
  }
  .departure{
    height: 80px; 
  }  
  .navigation{    
    height: 80px;      
  }
  .itinerary{   
    height: 80px;     
  }
  .tea {    
    height: 80px;  
  }  
  .visitor {  
    height: 80px; ;     
  }
  .meeting-room { 
    height: 80px;     
  }
  .salmon{ 
    height: 80px;    
  }  
}    
  
@media only screen and (max-width:768px) {} 
   
@media only screen and (max-width:480px) {
  .content {
    width: 100%;
    text-align: center;
  }
  .banner {
    width: auto;
  }
  .status {
    width: calc(100% - 24px);
  }
  .living {
    width: calc(100% - 24px);
  }
  .store {
    width: calc(100% - 24px);
  }
  .offer {
    width: calc((100% /2) - 24px);
    display: inline-block;
  }
}
  